//- Main files
include ./intro.pug
include ./actions.pug
include ./choices.pug
include ./thoughts.pug
include ./thoughts-idle.pug
//- Test stuff
include ./audio-test.pug
include ./thoughts-1.pug
include ./drifting-off-test.pug

backdrop(:show='showDrivingBackground' file='car-dash-loop.mp4' type='video' color='#000')
backdrop(:show='(currentPassage == "deep-sleep")' type='color' color='#fff')

passage(title='deep-sleep' @enter='finalSequence')
  p

howl(file='radio-open.ogg' ref='music-open' @end='startRadioLoop')
howl(file='radio-loop.ogg' loop=true ref='music-loop')
howl(file='driving.ogg' loop=true ref='driving')
howl(file='driving-window-open.ogg' loop=true ref='driving-window-open')
howl(file='window.ogg' loop=false ref='window')
howl(file='sit-up.ogg' loop=false ref='sit-up')
howl(file='sip.ogg' loop=false ref='sip')
howl(file='breath.ogg' loop=false ref='breath')